TELEGRAM_BOT_TOKEN=8003432502:AAGArQCZm15vhM-X2s4O68D3jUXOo8DDWDc
USERS_FILE=/app/data/users.json
POLL_EVERY=5s
CACHE_TTL=60s
DAILY_DIGEST_TIME=10:00
TZ_LOCATION=Europe/Moscow
HTTP_TIMEOUT=20s
HELP_IMAGE_PATH=/app/help.png
LOG_DIR=/app/data/logs
LOG_ROTATE_TIME=00:05
LOG_RETENTION_DAYS=14
